{%load static%}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <title>Admin - Login</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet" media="all">
</head>

<body>
    {% include "blood/navbar.html" %}
    <div
        class="container d-flex justify-content-center align-items-center my-5 py-5">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Admin Login</h2>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="name">Username</div>
                            <div class="value">
                                <div class="input-group">
                                    {% render_field form.username class="input--style-5"%}
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Password</div>
                            <div class="value">
                                <div class="input-group">
                                    {% render_field form.password class="input--style-5" %}
                                </div>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn--radius-2 btn-danger"
                                type="submit">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% include "blood/footer.html" %}
</body>

</html>