{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Donor - Dashboard</title>

  <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css">

  <link href="{% static 'css/base.css' %}" rel="stylesheet" media="all">

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-danger">
    <a style="color:white;" class="navbar-brand" href="/"><i
        class="fab fa-gratipay"></i>&nbsp;<font face="Comic sans MS" size="4">
        Blood Bank Management System</font></a>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" style="color: white;" href="/logout">Logout &nbsp;
            <i class="fas fa-sign-out-alt"></i></a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="wrapper mt-5">
    <div class="sidebar">
      <ul>
        <li><a style="text-decoration:none;" href="/"><i
              class="fas fa-home"></i>Home</a></li>
        <li><a style="text-decoration:none;" href="/donor/donate-blood"><i
              class="fas fa-hand-holding-medical"></i>Donate Blood</a></li>
        <li><a style="text-decoration:none;" href="/donor/donation-history"><i
              class="fas fa-history"></i>Donation History</a></li>
        <li><a style="text-decoration:none;" href="/donor/make-request"><i
              class="fas fa-sync-alt"></i>Blood Request</a></li>
        <li><a style="text-decoration:none;" href="/donor/request-history"><i
              class="fas fa-history"></i>Request History</a></li>

      </ul>
    </div>
    <div class="main_content">
      {% block content %}

      {% endblock content %}
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>